.bottom-panel {
  margin-top: 20px;
}

.bottom-panel .new-post-label {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}
.btn-outline-success {
  color: #00b894;
  border-color: #00b894;
}
.btn-success {
  color: #00b894;
  border-color: #00b894;
}