.app-header {
  align-items: flex-end;
  justify-content: space-between;

}

.app-header h1 {
  /* width: 150px;
  height: 150px; */
  font-size: 26px;
  color: #fd79a8;
  font-weight: 300;
}

.app-header h2 {
  font-size: 1.2rem;
  color: #ffeaa7;
  font-weight: 100;
}
.btn-danger {
  color: #ffeaa7;
  background-color: #fd79a8;
  border-color: #fd79a8;
}
.btn-danger:hover {
  color: #fff;
  background-color: #fd79a8;
  border-color: #fd79a8;
}

.btn-outline-primary {
  color: #ffeaa7;
  background-color: #0984e3;
  border-color: #0984e3;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #0984e3;
  border-color: #0984e3;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fdcb6e;
  background-color: #2d3436;
  background-clip: padding-box;
  border: 1px solid #fdcb6e;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #2d3436;
  border-color: #fdcb6e;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(255, 198, 99, 0.5);
}